@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common table
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".profile-table"

#{$block}
  position: relative
  z-index: 10
  display: block
  width: 100%
  border: 1px solid map-get($app-palette, border-primary)

  // $Common table MOD: type common
  &_type_common
    display: table

  &_page_users,
  &_page_roles,
  &_page_sites
    @media screen and (max-width: 960px)
      display: none

  &_page_users-details-form
    border: none


  // $Common table row
  &__row
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    width: 100%
    background-color: map-get($app-palette, bg-light)

    #{$block}_type_common &
      display: table-row

    @media screen and (max-width: 1280px)
      #{$block}_page_users-details-form &
        flex-wrap: wrap

    &:last-of-type
      border-bottom: none

    &:nth-child(odd)
      background-color: map-get($app-palette, bg-secondary)

      #{$block}_page_users-details-form &
        background-color: transparent

      @media screen and (max-width: 1280px)
        #{$block}_page_users-details-form &
          background-color: map-get($app-palette, bg-secondary)

    // $Common table row MOD: role header
    &_role_header
      background-color: map-get($app-palette, bg-secondary)

      @media screen and (max-width: 1280px)
        #{$block}_page_users-details-form &
          display: none


  // $Common table cell
  &__cell
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    min-height: 50px
    padding: 10px 15px
    border-bottom: 1px solid map-get($app-palette, border-primary)

    #{$block}__row:last-child &
      border-bottom: none

    #{$block}_type_common &
      height: 50px
      text-align: left
      vertical-align: middle
      border-bottom: 1px solid map-get($app-palette, border-primary)

    #{$block}_page_users-details-form &
      padding-top: 0
      padding-bottom: 0
      padding-left: 10px
      padding-right: 10px
      border-bottom: none

    @media screen and (max-width: 1280px)
      #{$block}_page_users &
        padding-left: 10px
        padding-right: 10px

      #{$block}_page_users-details-form &
        padding-top: 10px
        padding-bottom: 10px

    &:not(:last-child)
      border-right: 1px solid map-get($app-palette, border-primary)

      #{$block}_page_users-details-form &
        border: none

    // $Common table cell first column
    &:nth-child(1)
      #{$block}_page_users &
        width: 22%

      #{$block}_page_roles &
        width: calc(100% - 260px)

      #{$block}_page_sites &
        width: calc(70% - 150px)

      #{$block}_page_users-details-form &
        flex-grow: 0
        flex-shrink: 0
        width: 250px
        padding-left: 0

      @media screen and (max-width: 1280px)
        #{$block}_page_users-details-form &
          width: 100%
          padding-left: 10px
          padding-right: 10px

    // $Common table cell second column
    &:nth-child(2)
      #{$block}_page_users &
        width: 16%

      #{$block}_page_roles &
        flex-grow: 0
        flex-shrink: 0
        width: 260px

      #{$block}_page_sites &
        width: 15%
        max-width: 150px

      #{$block}_page_users-details-form &
        flex-grow: 0
        flex-shrink: 0
        width: 200px

      @media screen and (max-width: 1280px)
        #{$block}_page_users-details-form &
          flex-grow: 1
          flex-shrink: 1
          width: 25%

      @media screen and (max-width: 1120px)
        #{$block}_page_users-details-form &
          width: 50%

      @media screen and (max-width: 480px)
        #{$block}_page_users-details-form &
          width: 100%

    // $Common table cell third column
    &:nth-child(3)
      #{$block}_page_users &
        width: 16%

      #{$block}_page_sites &
        width: 15%
        max-width: 150px

      #{$block}_page_users-details-form &
        flex-grow: 0
        flex-shrink: 0
        width: 200px

      @media screen and (max-width: 1280px)
        #{$block}_page_users-details-form &
          flex-grow: 1
          flex-shrink: 1
          width: 25%

      @media screen and (max-width: 1120px)
        #{$block}_page_users-details-form &
          width: 50%

      @media screen and (max-width: 480px)
        #{$block}_page_users-details-form &
          width: 100%

    // $Common table cell fourth column
    &:nth-child(4)
      #{$block}_page_users &
        width: 16%

      #{$block}_page_sites &
        flex-grow: 0
        flex-shrink: 0
        width: 140px

      #{$block}_page_users-details-form &
        max-width: 300px

      @media screen and (max-width: 1280px)
        #{$block}_page_users-details-form &
          flex-grow: 0
          flex-shrink: 0
          width: 160px

      @media screen and (max-width: 400px)
        #{$block}_page_users-details-form &
          width: 50%

    // $Common table cell fifth column
    &:nth-child(5)
      #{$block}_page_users &
        flex-grow: 0
        flex-shrink: 0
        width: 90px

      #{$block}_page_users-details-form &
        max-width: 300px
        padding-right: 0

      @media screen and (max-width: 1280px)
        #{$block}_page_users-details-form &
          flex-grow: 0
          flex-shrink: 0
          width: 160px

      @media screen and (max-width: 400px)
        #{$block}_page_users-details-form &
          width: 50%

    // $Common table cell sixth column
    &:nth-child(6)
      #{$block}_page_users &
        flex-grow: 0
        flex-shrink: 0
        width: 210px

      @media screen and (max-width: 1280px)
        #{$block}_page_users &
          width: 120px

    // $Common table cell MOD: role header
    // $Common table cell MOD: role footer
    &_role_header,
    &_role_footer
      height: 50px
      font-size: 14px
      font-family: $f-sans
      font-weight: 600
      color: map-get($app-palette, text-primary)
      text-transform: uppercase

      #{$block}_page_users-details-form &
        height: auto
        min-height: 0
        padding-top: 0

    &_role_header
      &:nth-child(2)
        #{$block}_page_sites &,
        #{$block}_page_users-details-form &
          justify-content: center
          text-align: center

      &:nth-child(3)
        #{$block}_page_sites &,
        #{$block}_page_users-details-form &
          justify-content: center
          text-align: center

      &:nth-child(5)
        #{$block}_page_users &
          justify-content: center
          text-align: center


  // $Common table info
  &__info
    width: 100%

    #{$block}_page_users #{$block}__cell:nth-child(5) &,
    #{$block}_page_sites #{$block}__cell:nth-child(2) &,
    #{$block}_page_sites #{$block}__cell:nth-child(3) &
      text-align: center


  // $Common table text
  &__text
    font-family: $f-sans
    font-size: 14px
    font-weight: 400
    color: map-get($app-palette, text-primary)

    #{$block}__cell_role_header &,
    #{$block}__cell_role_footer &
      font-weight: 600

    &_adjust_wrap
      overflow-wrap: break-word
      word-wrap: break-word
      word-break: break-word
      hyphens: auto


  &__text-middle
    display: inline-block
    vertical-align: middle

    &:not(:last-child)
      margin-right: 5px


  // $Common table actions
  &__actions
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

    #{$block}_page_users #{$block}__cell:nth-child(6) &
      justify-content: center

    #{$block}_page_roles #{$block}__cell:nth-child(2) &
      justify-content: flex-end

    #{$block}_page_sites #{$block}__cell:nth-child(4) &
      flex-direction: column
      align-items: stretch

    @media screen and (max-width: 1280px)
      #{$block}_page_users #{$block}__cell:nth-child(6) &
        flex-direction: column
        align-items: stretch


  // $Common table action
  &__action
    #{$block}_page_sites #{$block}__cell:nth-child(4) &
      text-align: left

    &:not(:last-child)
      margin-right: 15px

      @media screen and (max-width: 1280px)
        #{$block}_page_users #{$block}__cell:nth-child(6) &
          margin-right: 0
          margin-bottom: 10px

